@using EPiServer.Core

@{
    var childPages = EPiServer.DataFactory.Instance.GetChildren(ContentReference.StartPage).Where(page => page.VisibleInMenu).OrderBy(date=> date.Created);
}
@foreach (var childPage in childPages)
{
    <li>
        <a href="@childPage.LinkURL">@childPage.Name</a>
    </li>
}