@using Castle.Core.Internal
@model MyEpiserverSite.Models.ViewModels.CreateContentViewModel

@{
    Layout = null;
}

<div>
    @Html.DisplayFor(m => m.Description)    
    @*@Html.PropertyFor(m => m.ParentId)*@
</div>

<div>
    @{
        using (Html.BeginForm())
        {
            <div>
                @*@Html.DropDownListFor(m => m.Pages, new SelectList(Model.Pages.Select(p => p.ContentLink)), "Select page")*@
                @*@Html.DropDownListFor(m => m.ParentId,new SelectList(Model.Pages.Select(p => p.ContentLink)), "Select page")*@
                @*@Html.DropDownListFor(m => m.ParentId, new SelectList(Model.Pages, Model.ParentId), "Select Page")*@
                @Html.DropDownListFor(m => m.ParentId, new SelectList(Model.Pages,"ContentLink", "PageName"), "Select Page") 
            </div>
            <div>
                @Html.TextAreaFor(m => m.Text)
            </div>
            
            <div>
                <input type="submit" value="Create" name="btnCreate" class="btn btn-default" />
            </div>          
            <div>
                @TempData["success"]
            </div>
        }
    }
</div>