@using EPiServer
@using EPiServer.Core
@using EPiServer.Data.Dynamic
@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html
@using EPiServer.Web.Routing
@using MyEpiserverSite.Controllers
@using PagedList.Mvc
@model MyEpiserverSite.Models.ViewModels.SearchPageViewModel


<div class="row">
    <div class="span8,search-form">
        @*We use GET to submit the form to enable bookmarking etc of search results.  However, as GET will remove other
            query string values not in the form we can't use that in edit mode.*@

        @*@{
                using (Html.BeginForm(null, null, PageEditing.PageIsInEditMode ? FormMethod.Post : FormMethod.Get))
                {
                    <input type="text" tabindex="1" name="q" value="@Model.SearchedQuery"/>
                    <input type="submit" tabindex="2" class="btn" value="Search"/>
                }
            }*@
        @{
            using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchResults" }))
            {
                <input type="text" tabindex="1" name="q" value="@Model.SearchedQuery" />
                <input type="submit" tabindex="2" class="btn" value="Search" />
            }
        }
    </div>
</div>
<div id="searchResults">
    @Html.Partial("_SearchResults", Model)
</div>
