@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using MyEpiserverSite.Models.ViewModels
@model PageViewModel<MyEpiserverSite.Models.Pages.CreateContentPage>

<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
<div>
    <h4>@Html.PropertyFor(m => m.CurrentPage.Introduction)</h4>
    @Html.HiddenFor(m => m.CurrentPage.ParentId)
    @{
        Html.RenderAction("SubmitForm", "CreateContentPage");
    }
</div>