@using EPiServer
@using EPiServer.Core
@using EPiServer.ServiceLocation
@using EPiServer.Web.Mvc.Html
@using EPiServer.Web.Routing
@using EPiServer.Web.WebControls
@using MyEpiserverSite.Controllers
@using MyEpiserverSite.Models.Blocks

@model MyEpiserverSite.Controllers.UserBlockController

@if (TempData["success"] != null)
{
    var currentPage = TempData["page"] as PageData;
    <hr />
    <p><strong>Thank you for your submission!</strong></p>
    <a href="@Url.ContentUrl(currentPage.ContentLink)">Add another user</a>
}
else
{
    <div id="newUserForm">
        @Html.Partial("_UserBasic")
    </div>
}
