@using EPiServer
@using EPiServer.Core
@using EPiServer.ServiceLocation
@using EPiServer.Web.Mvc.Html
@using EPiServer.Web.Routing
@using EPiServer.Web.WebControls
@using MyEpiserverSite.Controllers
@using MyEpiserverSite.Models.Blocks

@model MyEpiserverSite.Controllers.UserBlockController

@if (TempData["success"] != null)
{
    //Denna rad funkar också även om currentPage är null, men bara om man har <a href="@if (currentPage != null){url}" i början. Varför?
    //var currentPage = TempData["pagesss"] as PageData;
    //Även ViewData och ViewBag funkar om de är null med checken

    var currentPage = TempData["page"] as PageData;
    var vdata = ViewData["pages"] as PageData;
    var vbag = ViewBag.pagess as PageData;
    <hr />
    <p><strong>Thank you for your submission!</strong></p>
    <div>
        <a href="@if (currentPage != null)
                 {
                     @Url.ContentUrl(currentPage.ContentLink)
                 }">TempData link</a>
    </div>

    <div>
        <a href="@if (vdata != null)
                 {
                     @Url.ContentUrl(vdata.ContentLink)
                 }">ViewData link</a>
    </div>

    <div>
        <a href="@if (vbag != null)
                 {
                     @Url.ContentUrl(vbag.ContentLink)
                 }">ViewBag link</a>
    </div>
}
else
{
    <div id="newUserForm">
        @Html.Partial("_UserBasic")
    </div>
}
