@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@*@model MyEpiserverSite.Controllers.UserBlockController*@
@model MyEpiserverSite.Models.ViewModels.UserBasicViewModel
<div id="newUserForm">
    @Html.Partial("_UserBasic")
</div>