@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model MyEpiserverSite.Models.Pages.StartPage
@*@{
    Layout = "~/Views/Shared/_Root.cshtml";
}*@
<div>
  @Html.PropertyFor(m => m.MainBody)
</div>