@using EPiServer.Core
@using EPiServer.Web.Routing
@using MyEpiserverSite.Models.Media
@model EPiServer.Core.ContentReference
    
@{
    // Get the the MediaData object being rendered
    var currentContent = !ContentReference.IsNullOrEmpty(Model)
                            ? EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>().Get<MediaData>(Model)
                            : null;
}

@if (currentContent is ImageFile) // Images should be rendered with an image tag and an alt text
{
    var image = (ImageFile)currentContent;

    <img src="@UrlResolver.Current.GetUrl(image.ContentLink)" alt="@image.Copyright" />
}
else if (currentContent != null) // For all other media types, simply render a link
{
    <a href="@UrlResolver.Current.GetUrl(currentContent.ContentLink)">@currentContent.Name</a>
}
